.btn-outline-success {
  color: chocolate;
  border-color: chocolate;
}

.btn-outline-success:hover {
  color: white;
  background-color: chocolate;
  border-color: chocolate;
}

footer {
  background-color: rgb(244, 240, 240);
  color: black;
}

.first-line {
  border-bottom: 1px solid rgb(82, 82, 82);
}

.second-line a {
  color: black;
  text-decoration: none;
}

.third-line {
  display: none;
}

@media screen and (max-width: 48rem) {
  .first-line {
    text-align: center;
  }
}

@media screen and (max-width: 48rem) {
  .second-line {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid rgb(82, 82, 82);
  }
}

@media screen and (max-width: 48rem) {
  .third-line {
    display: block;
  }
}
